button{cursor: pointer;}
.logo{width: 300px; height: 100px; object-fit: contain; display: block; margin: 40px auto;}
.find_info{ height: 300px; margin: 30px 0 30px 0;}
.find_info ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.find_info p{text-align: center;}
.find_info table, tr{border-collapse: collapse;} 
.find_info table{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.id{
    border-top:  2px solid rgb(199, 199, 199);
    border-left:  2px solid rgb(199, 199, 199);
    border-right: 2px solid rgb(199, 199, 199);
}
.pwd{
    border-bottom: 2px solid rgb(199, 199, 199);
}
.main{
    padding-top: 20px;
    border-left:  2px solid rgb(199, 199, 199);
    border-right: 2px solid rgb(199, 199, 199);
    border-bottom: 2px solid rgb(199, 199, 199);
}

.find_info input{
    width: 210px;
    height: 40px;
    font-size: 14px;
    margin: 0 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;

}
.find_info input[type="text"] {
    width: 310px;
    float: left;
    margin-bottom: 5px;
}
.find_info input[type="email"] {
   margin-right: 0;
   float: left;
}
#domain{
    margin-left: 5px;
    padding: 0;
    height: 40px;
    float: left;
    font-size: 14px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
}
.find_info button{
    height: 40px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}
#ok_btn{
    font-weight: normal;
    margin: 100px 20px 10px 20px;
    height: 40px;
    display: block;
    border: 0;
    width: 315px;
    background-color: rgb(199, 199, 199);
}