body {
    background: #f3f3f3;
    margin-top: 20px;
    color: #616f80;
}

.card { margin-top: 50px;
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
}


.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}

.custom_coffee {
    display: grid;
    height: 800px;
    grid-template-columns: 15% 85%;
    grid-template-areas: "list contents";
    min-width: 1120px;
}

/*aside 메뉴리스트 설정*/
.menu_list {
    grid-area: "list";
    text-align: right;
    background-color: rgba(0, 0, 0, 0.603);
    ;
    color: white;
}

.menu_list h1 {
    font-size: 25px;
    margin: 10px 20px;
}

.menu_list hr {
    font-size: 22px;
    margin: 0;
}

.menu_list ul {
    list-style: none;
    margin: 0 20px;
}

.menu_list li {
    margin: 10px 0;
}

.menu_list a {
    text-decoration: none;
    color: white;
}

.menu_list a:link {
    color: white;
}

.menu_list a:visited {
    color: white;
}

.menu_list a:hover {
    color: rgb(184, 184, 184);
    font-size: 20px;
}